/* RESET */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,abbr,img,strong,ul,li,
fieldset,form,figcaption,figure,footer,header,hgroup,nav,section{margin:0; padding:0; border:0; outline:0; font-size:62.5%; line-height:1.125em; font:inherit; vertical-align:baseline;}
figcaption,figure,footer,header,hgroup,nav,section{display:block;}

/* BASE */
body                        {background:#25241B; font-family:'Abel', arial, sans;
  .wrapper                  {margin:0 auto; width:996px; overflow:hidden; position:relative;}
  header                    {padding:50px 0 0; width:100%; background:url('../images/header-tail.gif') repeat-x;
    h1                      {float:left;
      a                     {width:250px; height:85px; display:block; text-indent:-100%; font-size:0em; line-height:0em; background:url('../images/logo.png');}
    }
    .info                   {color:#333225; font-size:.8em; position:absolute; top:0px; right:0px;}              
    ul                      {padding:60px 0 30px; float:right;
      li                    {padding:0 0 0 20px; display:inline-block;
        a                   {color:#FFFFFF; text-transform:uppercase; text-decoration:none; font:1.5em 'Forum', serif; letter-spacing:2px; text-shadow: 1px 1px 0px #616051;
          &:hover           {color:#A2C429;}
          &.active          {color:#A2C429;}
        }
      }
    }
    .banner                 {clear:both; padding:20px 20px 0; background:url('../images/box-tail.gif') repeat; -moz-border-radius:15px 15px 0 0; border-radius:15px 15px 0 0;
      //Important: Set the width of your slides container, Set to display none, prevents content flash
      #slides               {width:100%; height:488px; position:relative;
        //Important:Set the width of your slides, If height not specified height will be set by the slide content, Set to display block
        .slides_container   {width:956px; height:488px; overflow:hidden; position:relative; display:none;
          .slide            {width:956px; height:488px; display:block;
            .caption        {z-index:500; position:absolute; bottom:-35px; left:0; height:30px; padding:5px 20px 0 20px; background:#000; background:rgba(0,0,0,.5); width:100%; font-size:1.3em; line-height:1.33; color:#fff; border-top:1px solid #000; text-shadow:none;}
          }
        }
        .next, .prev        {position:absolute; top:107px; left:-39px; width:24px; height:43px; display:block; z-index:101;}
        .next               {left:585px;}
        .pagination         {margin:0; padding:0; width:100px; position:absolute; top:15px; left:20px; z-index:9999;
          li                {float:left; margin:0 1px; padding:0; list-style:none;
            a               {display:block; width:12px; height:0; padding-top:12px; background-image:url(../images/pagination.png); background-position:0 0; float:left; overflow:hidden;}
            &.current a     {background-position:0 -12px;}
          }
        }
      }
    }
  }
  .content                  {width:100%; background:url('../images/content-tail.gif') repeat;
    .wrapper                {padding:10px 20px; width:956px; background:url('../images/box-tail.gif') repeat; -moz-border-radius:0 0 15px 15px; border-radius:0 0 15px 15px;
      .left                 {padding:20px 0 20px 20px; width:45%; border-top:2px solid #333225; float:left;
        &.small             {width:25%;}
      }
      .right                {padding:20px 0 20px 20px; width:45%; border-top:2px solid #333225; float:right;
        &.big               {width:68%;
          ul                {float:left; padding:0 20px 0 0;}
        }
      }
      h2                    {padding:0 0 20px; color:#333225; text-transform:uppercase; font:1.6em 'Forum', serif; letter-spacing:2px;}
      ul                    {list-style:none;
        li                  {padding:0 0 8px 24px; line-height:1.3em; background:url(../images/marker-1.png) 1px 5px no-repeat;
          a                 {font-size:1em; color:#333225; text-decoration:none;
            &:hover         {color:#99a721;}
          }
        }
      }
    }
  }
  .outer                    {width:100%; background:url('../images/content-tail.gif') repeat;
    .wrapper                {padding:30px 0; width:916px;
      .col                  {padding:0 19px 0 0; width:22.9%; float:left;
        h3                  {padding:0 0 10px; color:#fff; text-transform:uppercase; font:1.3em 'Forum', serif; letter-spacing:2px;}
        p                   {padding:0 0 5px; color:#A8B189; font-size:.8em;}
        a                   {color:#fff; font-size:1.1em; font-style:italic; text-decoration:none;
          &:hover           {color:#A2C429;}
        }
      }
    }
  }
  footer                    {padding:0; width:100%;
    .wrapper                {padding:35px 0; width:916px;
      ol                    {padding:0 0 20px; width:33%; color:#A8B189; font-size:.8em; float:left;
        li                  {list-style:none;
          span              {color:#575648; font:1.3em 'Forum', serif; letter-spacing:2px; text-transform:uppercase;}
        }
      }
      ul                    {float:left; clear:both;
        li                  {padding:0 10px; display:inline-block; border-left:1px solid #575648;
          &.first           {padding-left:0; border:none;}
          a                 {color:#8BA729; font-size:.8em; text-decoration:none;
            &:hover         {color:#575648;}
          }
        }
      }
      p                     {color:#575648; font-size:.8em; float:right;}
    }
  }
}